<div class="container">
    <h1 class="text-center">VENTAS</h1>
    <button class="btn btn-default pull-right" (click)="iniciarVenta()" *ngIf="inicial">Iniciar venta</button>
    <button class="btn btn-default pull-right" (click)="verVentas()" *ngIf="inicial">Ver ventas</button>
    <div *ngIf="resumen">
        <input type="date" [(ngModel)]="fecha" id="fecha" min="2019-01-01" max="2030-12-31" required />
        <button class="btn btn-default" (click)="cambiarFecha(fecha)">Ver</button>
        <table class="table" id="productoTable" *ngIf="resumenVentas.length > 0">
            <thead class="text-center">
                <th>Cliente</th>
                <th>Total</th>
                <th>Detalles</th>
                <th>Modificar</th>
                <th>Facturar</th>
            </thead>
            <tbody>
                <tr *ngFor="let venta of resumenVentas | paginate: { id: 'paginationVentas', itemsPerPage: 8, currentPage: actualPageVentas }">
                    <td>{{venta.cliente}}</td>
                    <td>{{venta.total | number : '1.2-2'}}</td>
                    <td (click)="getDetalles(venta.id)" class="glyphicon glyphicon-zoom-in"></td>
                    <td><a (click)="editVenta(venta)">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a></td>
                    <td (click)="comenzarFactura(venta.id, venta.total, venta.doc_tipo, venta.doc_nro, venta.facturado, venta.cliente, venta.id_cliente)"
                        class="glyphicon glyphicon-folder-close"></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls id="paginationVentas" (pageChange)="actualPageVentas = $event"></pagination-controls>
        <button class="btn btn-default" (click)="habilitarInicial()">Salir</button>
        <div class="espacio"></div>
    </div>
    <div *ngIf="venta || edicion">
        <label for="idCliente">Cliente</label>
        <input type="text" placeholder="Ingresar nombre" [(ngModel)]="busquedaNombre">
        <div class="espacio"></div>
        <div class="select">
            <select [(ngModel)]="clienteSelected" #clienteSelect name="clienteSelected" required>
                <option *ngFor="let cliente of clientes | nombreFilter:busquedaNombre" [value]="cliente.id">{{cliente.nombre}}</option>
            </select>
        </div>
        <div class="espacio"></div>
        <button type="submit" *ngIf="edicion" class="btn btn-default" (click)="cancelarModificarVenta()">Cancelar</button>
        <button type="submit" *ngIf="edicion" class="btn btn-default" (click)="modificarVenta(clienteSelect.value)">Modificar</button>
        <div *ngIf="venta" class="espacio"></div>
        <div *ngIf="venta" class="col-md-6 form-group">
            <input (keydown)="onKeydown($event)" type="number" placeholder="Código" [(ngModel)]="codigo"
                id="codigoProducto" minlength="12" maxlength="12">
        </div>
        <div *ngIf="venta" class="col-md-6 form-group">
            <input (keydown)="onKeydown($event)" type="number" placeholder="Cantidad" min="1" [(ngModel)]="cantidad">
        </div>
        <div class="pull-right" *ngIf="venta">
            <button type="submit" class="btn btn-default" (click)="addProducto(codigo, cantidad)">Agregar</button>
            <button class="btn btn-default" (click)="habilitarInicial()">Cancelar venta</button>
        </div>
    </div>
    <div *ngIf="detallesVenta.length > 0 && !factura">
        <table class="table" id="productoTable">
            <thead class="text-center">
                <th>Código</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr
                    *ngFor="let detalle of detallesVenta | paginate: { id: 'paginationDetalles', itemsPerPage: 8, currentPage: actualPageDetalles }">
                    <td>{{detalle.codigo}}</td>
                    <td>{{detalle.descripcion}}</td>
                    <td>{{detalle.cantidad}}</td>
                    <td>{{detalle.precio_detalle | number : '1.2-2'}}</td>
                    <td *ngIf="venta"><a (click)="deleteDetalle(detalle)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=3>Total</td>
                    <td>{{total | number : '1.2-2'}}</td>
                </tr>
            </tfoot>
        </table>
        <pagination-controls id="paginationDetalles" (pageChange)="actualPageDetalles = $event"></pagination-controls>
        <button type="submit" class="btn btn-default pull-right" (click)="finalizarVenta()" *ngIf="venta">Finalizar
            venta</button>
        <button type="submit" class="btn btn-default" (click)="cancelar()">Cancelar detalles</button>
    </div>
    <div *ngIf="factura">
        <form role="form" #facturaForm="ngForm" name='facturaForm' standalone>
            <label for="tipoFactura">Tipo de factura</label>
            <div class="select">
                <select [(ngModel)]="cbteTipoSelected" name="cbteTipoSelected" required>
                    <option *ngFor="let cbteTipo of cbteTipos" [value]="cbteTipo.value">{{cbteTipo.name}}</option>
                </select>
            </div>
            <label for="tipoDocumento">Tipo de documento</label>
            <div class="select">
                <select [(ngModel)]="docTipoSelected" name="docTipoSelected" required aria-readonly="true">
                    <option *ngFor="let docTipo of docTipos" [value]="docTipo.value">{{docTipo.name}}</option>
                </select>
            </div>
            <label for="tipoDocumento">Nro. de documento</label>
            <div>
                <input type="number" name="dniNro" placeholder="Nro Documento" readonly [(ngModel)]="docNroSelected"
                    required>
            </div>
            <label for="tipoDocumento">Importe Neto</label>
            <div>
                <input type="number" name="impNeto" placeholder="Imp. Neto" readonly [(ngModel)]="total">
            </div>
            <label for="tipoDocumento">Importe Total</label>
            <div>
                <input type="number" name="impTotal" placeholder="Imp. Total" readonly [(ngModel)]="total">
            </div>
            <button class="btn btn-default" (click)="facturar(facturaForm)">Facturar</button>
        </form>
    </div>
</div>