<div class="container">
    <h1 class="text-center">VENTAS</h1>
    <button class="btn btn-default pull-right" (click)="iniciarVenta()" *ngIf="inicial">Iniciar venta</button>
    <button class="btn btn-default pull-right" (click)="verVentas()" *ngIf="inicial">Ver ventas</button>
    <div *ngIf="resumen">
        <table class="table" id="productoTable" *ngIf="resumenVentas.length > 0">
            <thead class="text-center">
                <th>Cliente</th>
                <th>Total</th>
                <th>Detalle</th>
            </thead>
            <tbody>
                <tr *ngFor="let venta of resumenVentas">
                    <td>{{venta.cliente}}</td>
                    <td>{{venta.total}}</td>
                    <td (click)="getDetalles(venta.id)" class="glyphicon glyphicon-zoom-in"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-default" (click)="habilitarInicial()">Salir</button>
    </div>
    <div *ngIf="venta">
        <div class="col-md-6 form-group">
            <input (keydown)="onKeydown($event)" type="number" placeholder="Código" [(ngModel)]="codigo" id="codigoProducto" minlength="12" maxlength="12">
        </div>
        <div class="col-md-6 form-group">
            <input (keydown)="onKeydown($event)" type="number" placeholder="Cantidad"  min="1" [(ngModel)]="cantidad">
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-default" (click)="addProducto(codigo, cantidad)">Agregar</button>
            <button class="btn btn-default" (click)="habilitarInicial()">Cancelar venta</button>
        </div>
    </div>
    <div *ngIf="detallesVenta.length > 0">
        <table class="table" id="productoTable">
            <thead class="text-center">
                <th>Código</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr *ngFor="let detalle of detallesVenta">
                    <td>{{detalle.codigo}}</td>
                    <td>{{detalle.descripcion}}</td>
                    <td>{{detalle.cantidad}}</td>
                    <td>{{detalle.precio_detalle | number : '1.2-2'}}</td>
                    <td *ngIf="venta"><a (click)="deleteDetalle(detalle)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=3>Total</td>
                    <td>{{total | number : '1.2-2'}}</td>
                </tr>
            </tfoot>
        </table>
        <button type="submit" class="btn btn-default pull-right" (click)="finalizarVenta(total)" *ngIf="venta">Finalizar venta</button>
    </div>
</div>